[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
androidviewclient = ">=20.4.4"
click = ">=8.0.3"
phonenumbers = ">=8.12.41"
tqdm = ">=4.62.3"

[dev-packages]
bandit = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
tox = "*"
